lecture-notes/*.pdf
*.o
.Rproj.user
.Rhistory
.RData
.Ruserdata
chunkfier/chunkfier
chunkfier/chunkfier
focos2raster/tif/
.idea
interleaver/file1
interleaver/file2
interleaver/interleaver

.ipynb_checkpoints/
